.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background-color: #f8f9fa;
    color: #FB6026;
    padding: 20px;
}

.errorCode {
    font-size: 8rem;
    font-weight: bold;
    margin: 0;
}

.message {
    font-size: 1.5rem;
    margin-top: 20px;
    max-width: 600px;
}
