.tabs{
    display: flex;
    margin: 1rem 0;
}

.tabs a {
    display: block;
    padding: .5rem 1rem;
    border-bottom: 2px solid #ECF1F7;
    text-align: center;
    width: 100%;
}


.tabs .activeTab, .tabs a:hover{
    color: #FB6026;
    font-weight: 700;
    border-bottom: 2px solid #FB6026;
    transition: 200ms;
}