header{
    background-color: white;
    padding: .5em 2em;
    border-bottom: 1px solid #CED9DD;
    box-shadow: 4px 4px 15px 0px rgba(217, 222, 224, 0.3);
    position: fixed;
    top: 0;
    left: 5.05rem;
    right: 0;
    z-index: 20;
}

.container{
    display: flex;
    justify-content: space-between;
}

.left, .right{
    display: flex;
    gap: 1.5em;
    align-items: center;
}

a{
    text-decoration: none;
}


.left p{
    font-size: 14px;
    margin-top: .5em;
}

.right .membersDesktop img{
    display: block;
    width: 3rem;
    height: 3rem;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    border: 2px solid white;
}

.members{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.membersDesktop{
    display: flex;
}

.membersDesktop img+img{
    margin-left: -1rem;
}


.addUserBtn{
    display: flex;
    padding-top: .5rem;
    width: 3rem;
    height: 3rem;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
}

.addUserBtn:hover{
    scale: 1.1;
    transition: 200ms;
    background-color: #ffded1;
}




button{
    background: none;
    border: none;
    cursor: pointer;
}

i{
    font-size: x-large;
    color: #9eacb0;
}

.right button i{
    color: #FB6026;
}

/* Hide all desktop elements */
.desktopLogo, .navElementDesktop{
    display: none;
}




/* Desktop */

@media screen and (min-width: 800px) {
    
    .desktopLogo, .navElementDesktop{
        display: block;
    }

    .hamburgerMenuMobile, .mobileLogo, .navElementMobile{
        display: none;
    }


    header{
        padding: .5em 5%;
    }
    

    .left img{
        display: block;
        width: 12rem;
    }

    .navElementDesktop{
        font-size: 18px;
    }


    .right a{
        color: #6C7886;
    }
}
