
.sidebarNav .desktop{
    display: none;
}

.sidebarNav {
    position: fixed;
    background-color: white;
    padding: 1em 10%;
    right: 0;
    left: 0;
    bottom: 0;
    border-right: 1px solid #CED9DD;
    border-top: 1px solid #CED9DD;
    z-index: 80;
}

.sidebarNav a {
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
}

.sidebarNav a:hover{
    scale: 1.1;
    transition: 200ms;
}

.sidebarNav .navItem:hover{
    background-color: #ffded1;
}

.sidebarNav .navItem i:hover{
    color: #9EACB0;
}

.sidebarNav .selected {
    background-color: #FB6026;
}

.selected i {
    color: white;
}

.sidebarNav i {
    font-size: 1.8em;
    display: block;
    margin-top: 0.5rem;
}

.avatar {
    width: 3rem;
    height: 3rem;
    object-fit: cover;
    border-radius: 100%;
}

/* Mobile nav styles */
.sidebarNav .mobile {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

/* Desktop nav styles */
@media screen and (min-width: 800px) {
    .sidebarNav {
        padding: 2em 1em;
        height: 100vh;
        top: 0;
        left: 0;
        right: auto;
        bottom: 0;
        border-right: 1px solid #CED9DD;
        border-top: none;
    }

    .sidebarNav .mobile {
        display: none;
    }

    .sidebarNav .desktop {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }

    .sidebarNav .desktop nav div {
        display: flex;
        flex-direction: column;
        gap: 2em;
    }

    .sidebarNav .desktop nav {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        margin-top: 3rem;
    }

    .smallLogo{
    
    }
}
