.flexContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-bottom: 20px; */
}

.flexContainer div{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.flexContainer div i{
    display: block;
    padding-top: .3rem;
}

.content{
    margin-top: 3rem;
    /* display: flex;
    flex-direction: column;
    gap: 2rem; */
}

.filterDays{
    display: flex;
    gap: 1rem;
    overflow-x: scroll;
    margin-top: 2rem;
    padding: .5rem;
}

.filterDays::-webkit-scrollbar {
    display: none;
}

.filterDays {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}


.filterDays button{
    min-width: 5rem;
}

.itineraryItem {
    position: relative;
    padding-left: 3rem;
    /* background-color: white; */
    min-width: 24rem;
    padding-bottom: 2rem;
}

.itineraryItem:nth-child(even){
    padding-bottom: 6rem;
}

.itineraryItem:last-of-type::before{
    display: none;
}



.stepMarker {
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    background-color: #ff8c00;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    z-index: 1;
}


.stepNumber {
    font-size: 12px;
}

.itineraryItem::before {
    content: '';
    position: absolute;
    left: 9px; /* Center the line with the step marker */
    top: 0;
    bottom: 0;
    width: 2px;
    background: repeating-linear-gradient(
      to bottom,
      #ececec,
      #ececec 6px,
      transparent 6px,
      transparent 12px
    );
    border-radius: 1px; /* Rounded corners for the dotted lines */
    z-index: 0;
}

.directions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4rem 0;
}

.itinerary .itineraryItem .directions .transportMethod{
    position: absolute;
    left: -.4rem;
    width: 20px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 1rem;
}

.directionsBtn {
    background-color: #ff8c00;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.addAlternative {
    margin-top: 2rem;
    padding: 1rem;
    /* display: flex;
    justify-content: end; */
    background-color: #fff7e7;
    border: 1px solid #f3e4c6;
    border-radius: .5rem;
}

.addAlternativeBtn{
    text-decoration: underline;
    color: #fb5f26c1;
    font-size: 16px;
}


/* itinerary.module.css */

.droppableArea {
    position: relative;
    height: 100%;
    width: 100%;
}

.droppableArea.over {
    background-color: rgb(69, 175, 210);
}


.itineraryFlex{
    /* display: flex;
    gap: 4rem;
    overflow: auto; */
    display: grid;
    /* grid-template-columns: auto; */
    overflow-x: auto;
    grid-auto-flow: column;
    gap: 3rem;
    overflow-y: hidden;
    margin-top: 2rem;
    /* grid-template-columns: repeat(auto-fill, minMax(21rem, 1fr)); */
}


.dayLabel{
    background-color: #FDB833;
    padding: .5rem 1rem;
    width: fit-content;
    border-radius: .5rem;
    margin-top: .5rem ;
    margin-bottom: 3rem;
    color: white;
    font-weight: 600;
}



/* itinerary.module.css */
/* .dragging {
    opacity: 0.5;
}

.dropAreaDay {
    border: 2px dashed #ccc;
    padding: 10px;
}

.dropAreaDay.draggingOver {
    border-color: blue;
} */

.rearangeOrderContainer{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}


/* ____ */
.alternativesContainer {
    background-color: #f9f9f9;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
}

.alternativeItem {
    margin-bottom: 10px;
}

.alternativeCard {
    display: flex;
    align-items: center;
}

.alternativeImage {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin-right: 10px;
}

.alternativeDetails {
    display: flex;
    flex-direction: column;
}


.kanbanBoardDay{
    background-color: #FFF9EC;
    padding: 1rem;
    min-width: 400px;
    width: fit-content;
    border-radius: 1rem;
}

.orderArrowBtns{
    display: flex;
    gap: .5rem;
}

.orderArrowBtns button:hover i{
    transition: 200ms;
    scale: 1.2;
    color: #FB6026;
}