.practicalInfoContainer{
    margin-top: 2rem;
}

.visitingInfo{
    padding-bottom: 6rem;
}

.visitingInfo h3{
    margin: 3rem 0 1rem 0;
}


.practicalInfoContainer table {
    border-collapse: collapse;
    width: 100%;
    border-radius: .5rem;
}
  
.practicalInfoContainer td, th {
    border: 1px solid #C8D4DD;
    text-align: left;
    padding: 8px;
}
  
.practicalInfoContainer tr:nth-child(even) {
    background-color: #F7F9FC;
}

.tableContainer{
    border-radius: .5rem;
    overflow: hidden;
    border: 1px solid #C8D4DD;
}

.editorContainer{
    border: 1px solid #C8D4DD;
    border-radius: .5rem;
    max-height: 25rem;
    overflow-y: auto;
    padding: 2rem 0;

     /* WebKit-based browsers (Chrome, Safari, newer versions of Edge) */
     scrollbar-width: thin; /* Firefox */
     scrollbar-color: #FDB833 #f1f1f1; /* Firefox */
    /* background-color: #FBFBFB; */
}

/* For WebKit-based browsers */
.editorContainer::-webkit-scrollbar {
    width: 12px;
}

.editorContainer::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.editorContainer::-webkit-scrollbar-thumb {
    background-color: #FDB833;
    border-radius: 10px;
    border: 3px solid #f1f1f1; /* Adds padding around the thumb */
}

.editorContainer::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

/* For Firefox */
.editorContainer {
    scrollbar-width: thin;
    scrollbar-color: #FDB833 #f1f1f1;
}

.pollStatisticsContainer{
    background-color: #FFE9BE;
    border-radius: 1rem;
    padding: .5rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}