.subnav{
    /* width: 100%; */
    background-color: #FFE8DF;
    z-index: 10;
    display: flex;
    gap: 2em;
    padding: 1.5rem 2rem;
    flex-direction: column;
}


.subnav a{
    color: #8a8787;
}

.subnav a:hover{
    color: #FB6026;
    font-weight: 600;
    transition: 200ms;
}

.subnav a i{
    font-size: large;
    margin-right: 1rem;
}

.subnav a:hover i{
    color: #FB6026;
    transition: 200ms;
}


@media screen and (min-width: 800px) {
    .subnav{
        flex-direction: row;
        gap: 4em;
        padding: 1rem 2rem;
    }
}
