.bucketListCard{
    background-color: #FFE9BE;
    border-radius: 1rem;
    padding: .5rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    box-shadow: 4px 4px 15px 4px rgba(217, 222, 224, 0.3);
}

.bucketListCard .infoRatingIcon{
    font-size: large;
    left: 5rem;
    padding: .2rem;
    position: absolute;
}

.bucketListCard .flexRatingTitle{
    display: flex;
    gap: .5rem;
    position: relative;
}



.myInterestStars{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: .5rem;
    padding: 1rem;
    background-color: #ffffff;
    border: 2px solid #f9be35;
}

.myInterestStars p{
    font-weight: 700;
    color: #686868;
}

.myInterestStars .stars, .notColoredStars{
    display: flex;
    gap: .3rem;
}
.stars i, .location i{
    color: #c7cfd1;
}

.stars i:hover{
    color: #FB6026;
    transition: 200ms;
}

.myInterestStars .stars .colored{
    color: #FB6026;
}

/* .notColoredStars{
    margin-left: 1.7rem;
    
} */
