
/* .gm-style:focus {
    outline: none;
} */

.wrapper{
    /* Use this wraper to optimilize your responsive design for large screens */
}

.contentWrapper{
    /* margin-top: 5.5rem;  */
    /* margin-left: 7.8rem; */
    /* Previous values */

    margin-top: 4.3rem;
}

.contentWrapperTripsOverview{
    margin-top: 4.3rem;
}

.flexContentAndSidebar{
    display: flex;
    
    height: 100vh;
}

.fullWidth{
    width: 100%;
    flex: 1;
}

.gridTripsOverview{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    gap: 4rem;
    margin-top: 2rem;
}

.gridPlanSidebar{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    gap: 2rem;
    margin-top: 2rem;
}

.gridBucketListSidebar{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    margin-top: 2rem;
}

.gridVotingCards{
    gap: 4rem;
}

.gridSimpleCards{
    gap: 2rem;
}

.highlightTripCalendar{
    display: block;
    background-color: #FFD37E;
    height: .5rem;
    width: 100%;
}



@media screen and (min-width: 800px) {
    .contentWrapper{
        margin-left: 6.7rem;
        display: flex;
        flex: 1; /* This ensures it takes up the remaining height */
        
        
        /*overflow: hidden; /* Prevents overflowing and scrollbar */
    }

    .contentWrapperTripsOverview{
        margin-left: 21rem;
        display: flex;
        flex: 1;
    }
}


