.label{
    display: block;
    margin-bottom: 0.5em;
}

.passwordContainer{
    position: relative;
}

.toggleVisibilityBtn{
    cursor: pointer;
    position: absolute;
    background: none;
    border: none;
    right: 5px;
    top: 0.4rem;
}

.toggleVisibilityBtn i{
    font-size: large;
}

.input{
    /* height: 50px; */
    padding: 0.5rem;
    background-color: #F3F3F3;
    border: 1px solid #E0E0E0;
    border-radius: 0.5rem;
    width: 100%;
    margin-bottom: 2em;
}

.input:focus{
    outline: 2px solid #c4c4c4;
}