.popupAddTripWidth{
    width: 50%;
}

.addTripPopup {
    display: flex;
    gap: 2rem;
}

.addTripPopup > div {
    flex: 1; /* Ensure each child takes up equal space */
    display: flex;
    flex-direction: column; /* Stack label and input vertically */
}

.addTripPopup label {
    margin-bottom: 0.5rem; /* Add some space between label and input */
}

.titleInput, .countrySelect {
    display: block;
    padding: .5rem;
    width: 100%;
    font-size: 16px;
    color: #444444;
    border-radius: .2rem;
    border: 1px solid #cccccc;
}


.primaryBtnPopup{
    display: block;
    width: 100%;
    margin-top: 2rem;
    text-align: center;
    padding: .8rem;
    font-size: large;
}